header {
  position: relative;
  max-width: 1440px;
  width: 100%;
  height: 64px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  flex-grow: 1;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
header .buttonWrap {
  position: absolute;
  top: 13px;
  right: 16px;
}
header .buttonWrap button {
  position: relative;
  display: inline-block;
  width: 84px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
header .buttonWrap button:last-child {
  margin-left: 12px;
}
header .buttonWrap button.active {
  background: #F2F3F7;
}
header .buttonWrap button .count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #FFD400;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
}